<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 container-prueba">
      <h1>Calidad dentro de la IS</h1>
      <br>
      <br>
      <p class="calidad-IS">
        ¿QUE ES LA CALIDAD DEL SOFTWARE?
        <br>
        <br>
        La calidad del software es el conjunto de cualidades que lo caracterizan y que determinan su utilidad y
        existencia. La calidad es sinónimo de eficiencia, flexibilidad, corrección, confiabilidad, mantenibilidad,
        portabilidad, usabilidad, seguridad e integridad.
        <br>
        <br>
        <br>
        ¿COMO OBTENER UN SOFTWARE DE CALIDAD?
        <br>
        <br>
        La obtención de un software con calidad implica la utilización de metodologías o procedimientos estándares para
        el análisis, diseño, programación y prueba del software que permitan uniformar la filosofía de trabajo, en aras
        de lograr una mayor confiabilidad, mantenibilidad y facilidad de prueba, a la vez que eleven la productividad,
        tanto para la labor de desarrollo como para el control de la calidad del software.
        <br><br>
        La política establecida debe estar sustentada sobre tres principios básicos: tecnológico, administrativo y
        ergonómico.
      </p>
      <ul>
        <li>El principio tecnológico define las técnicas a utilizar en el proceso de desarrollo del software.</li>
        <li>El principio administrativo contempla las funciones de planificación y control del desarrollo del software,
          así
          como la organización del ambiente o centro de ingeniería de software.
        </li>
        <li>El principio ergonómico define la interfaz entre el usuario y el ambiente automatizado.</li>
        <li>La adopción de una buena política contribuye en gran medida a lograr la calidad del software, pero no la
          asegura. Para el aseguramiento de la calidad es necesario su control o evaluación.
        </li>
      </ul>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
