<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 container-prueba">
      <a class="titulo-desarrollador">Ingeniería de Software</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Herramientes</a>
    </div>
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Fases</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 container-prueba">
      <a class="titulo-desarrollador">Procesos</a>
    </div>
  </div>
</div>
