<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">The Mythical Man Month: Essays on Software Engineering</a>
      <p class="texto-referencias">Este libro, un clásico de referencia sobre la ingeniería del software, es una colección de ensayos en los que el autor, Frederick P. Brooks, expone sus experiencias como gestor en un gran proyecto de desarrollo.
        Aunque se trata de un libro de hace más de 30 años, que refleja experiencias de un proyecto realizado 20 años atrás, este libro sigue resultando valioso. En lugar de centrarse en los ya obsoletos problemas técnicos del
        proyecto, se centra en los problemas organizacionales de los mismos, y en cómo gestionar a las personas involucradas en ellos.</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">Ingeniería de Software: Un enfoque práctico</a>
      <p class="texto-referencias">
        Roger S. Pressman es una autoridad internacionalmente reconocida en el mejoramiento del proceso del software y en las tecnologías de la ingeniería del mismo.
        Cuando el software de computadora triunfa (al satisfacer las necesidades de las personas que lo usan, trabajar sin fallos durante largos periodos, será fácil de modificar e incluso más fácil de usar) puede y debe cambiar las cosas a fin de mejorar. Pero cuando el software fracasa (cuando sus usuarios no están satisfechos, es proclive al error, es difícil de cambiar e incluso más difícil de usar) pueden ocurrir, y ocurren, cosas malas. Todo mundo quiere construir software que haga mejor las cosas y que evite las malas que acechan en la sombra de los esfuerzos fallidos. Para triunfar, se necesita disciplina al momento de diseñar y construir el software.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 container-prueba">Referencia 3</div>
    <div class="col-lg-2"></div>
  </div>
</div>
