<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 container-pruebaxxx">
      <div class="row div-img">
        <img src="..\assets\FotosSensualesDelFer\208672d1-6fc3-4be4-b151-651b8ae4cca6.jpg"
             class="rounded-circle imagen">
      </div>
      <div class="row div-info">
        <a class="titulo-desarrollador">Fernando Pérez Cuevas</a>
        <br>
        <p><strong>No. Cuenta: </strong>316232544</p>
        <br>
        <p><strong>Correo: </strong> fernandoperez316@aragon.unam.mx</p>
        <br>
        <p><strong>Jobi: </strong>Apasionado del futbol y fan del Club Pumas. Amante de los videojuegos
        en especial de futbol y shooters.</p>
        <br>
        <p><em>Borracho pero buen muchacho</em></p>
        <p><strong>Redes sociales</strong></p>
        <p></p>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
