<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 container-prueba">
      <h1>¿Qué es una metodología ágil?</h1>
      <br>
      <p class="calidad-IS">
        ‘Agile’ es mucho más que una metodología para el desarrollo de proyectos que precisan de rapidez y flexibilidad,
        es una filosofía que supone una forma distinta de trabajar y de organizarse. De tal forma que cada proyecto se
        ‘trocea’ en pequeñas partes que tienen que completarse y entregarse en pocas semanas. El objetivo es desarrollar
        productos y servicios de calidad que respondan a las necesidades de unos clientes cuyas prioridades cambian a
        una velocidad cada vez mayor.
      </p>
      <br>
      <h4><strong>Su funcionamiento en el entorno laboral</strong></h4>
      <p class="calidad-IS">
        Los principios y valores en los que se basan las metodologías ágiles tienen como principal característica
        realizar entregas rápidas y continuas de software funcionando. Poniendo un ejemplo, en el marco de trabajo
        scrum, el proyecto se divide en pequeñas partes que tienen que completarse y entregarse en plazos cortos,
        llamados ‘sprints’. De esta manera, si hay que realizar cualquier modificación, sólo se hacen cambios en la
        parte implicada y en muy poco tiempo.
        <br><br>
        Otro de los rasgos más característicos de las metodologías ágiles es el de emplear equipos multidisciplinares
        que trabajen juntos.
        <br><br>
        Antes de ‘agile’, cuando una empresa quería desarrollar un proyecto nuevo, se ponía en marcha un proceso lineal
        (en cascada o 'waterfall') que podía tardar uno o dos años en entregar un producto, con un alto riesgo de no
        adaptarse a la demanda final del cliente. Cuando esto sucedía, se optaba por soluciones de urgencia, o incluso
        empezar de cero el proyecto.
        <br><br>
        Otro de los rasgos más característicos de las metodologías ágiles es el de emplear equipos multidisciplinares
        que trabajen juntos, codo con codo, durante todo el proceso. Así, por ejemplo, el responsable del ‘marketing’
        puede dar ‘feedback’ de cómo está resultando el producto final al técnico que está realizando una tarea
        concreta. De esta manera, y junto con las entregas más rápidas, tempranas y frecuentes, el producto resultante
        es exactamente lo que el mercado está demandando.
        <br><br>
        Los equipos ágiles realizan sesiones diarias en las que cada miembro tiene que explicar tres cosas: qué tareas
        ha completado, cuáles va a hacer y, si los hay, señalar los impedimentos que no le han permitido avanzar. Estas
        reuniones llamadas ‘dailys’ sirven para que todos los integrantes del equipo sepan en qué punto de trabajo está
        cada uno y sean conscientes de cómo pueden colaborar para que el proyecto siga avanzando.
        <br><br>
        La filosofía ‘agile’ nació hace más de 10 años de la mano de los gigantes del ‘software’, pero poco a poco se ha
        ido extendiendo a otras industrias, incluida la financiera.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
