<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 container-prueba">Vacio</div>
    <div class="col-lg-4 container-prueba">
      <div class="row div-img">
        <img src="..\assets\FotosSensualesDelFer\208672d1-6fc3-4be4-b151-651b8ae4cca6.jpg"
             class="rounded-circle imagen">
      </div>
      <div class="row div-info">
        Diana
      </div>
    </div>
    <div class="col-lg-4 container-prueba">Aqui tambien va vacio</div>
  </div>
</div>
