<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">TargetProcess</a>
      <p class="texto-referencias">
        Esta herramienta que lleva seis años en el mercado, se enfoca en el desarrollo de Producto más que de Proyectos,
        desde el Story Mapping hasta el incremento. TargetProcess se encuentra a medio camino entre Active Collab y
        Pivotal Tracker, permitiendo a la vez una gestión clásica y ágil de los proyectos.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">Active Collab</a>
      <p class="texto-referencias">
        Otro de los clásicos. Éste se enfoca más en Project Management tradicional. Te permite hacer tracking de horas y
        de proyectos con algunos módulos más orientados a la planificación ágil de producto. Su principal objetivo es
        competir con Basecamp, la herramienta más establecida en gestión de proyectos tradicional.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">Pivotal Tracker</a>
      <p class="texto-referencias">
        Esta herramienta está diseñada por Pivotal Labs, una compañía de desarrollo ágil de software que da servicio a
        clientes.

        Pivotal ha sido durante años un referente en cuanto a diseño y usabilidad, y esa ha sido su mejor baza contra
        herramientas mas grandes.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 container-prueba">
      <a class="titulo-desarrollador">Taiga</a>
      <p class="texto-referencias">
        Taiga es un proyecto Español que lleva poco tiempo en el mercado pero es muy prometedor. Taiga incorpora una
        gestión simple de Product Backlog Ítems (aunque ellos les llaman historias de usuario), un tablero para los
        equipos y permiten hacer planificación de producto dentro de la propia herramienta. Para equipos pequeños es
        gratis.
      </p>
    </div>
  </div>
</div>
