<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 container-prueba">
    <h1>Estilos de Arquitectura de Software</h1>
      <br>
      <p class="estilos-cd">
        Un «estilo» de arquitectura es un conjunto de decisiones de diseño arquitectural
        que son aplicables en un contexto de desarrollo específico, restringen las decisiones de diseño de un sistema a ese contexto y plantean como objetivo ciertas cualidades para el sistema resultante.
        <br><br>
        Establecen un vocabulario común, donde se dan nombres a los componentes y conectores así como a los elementos de datos Establecen un conjunto de reglas de configuración, como la topología del sistema Definen una semántica para las reglas de composición de los elementos Posibilitan el análisis de los sistemas construidos sobre el estilo Algunos ejemplos de estilos arquitecturales:
      </p>
      <br>
      <h2><strong>Estilos arquitecturales</strong></h2>
      <p class="estilos-cd">
      <ul style= "list-style-type: upper-roman;">
        <li>Influencia por los lenguajes de Programacion</li>
        <ol>
          <ul style= "list-style-type: square;">
          <li>Poegramacion estructurada.</li>
          <li>Orientada a objetos.</li>
        </ol>

        <li>Capas</li>
        <ol>
          <ul style= "list-style-type: square;">
            <li>Maquinas Virtuales</li>
            <li>Cliente Servidor</li>
            <li>n-Tier</li>
        </ol>

        <li>Peer-to-Peer</li>

        <li>Flujo de Datos</li>
        <ol>
        <ul style= "list-style-type: square;">
          <li>Batch</li>
          <li>Pipes and filters</li>
        </ol>

        <li>Memoria compartida</li>
        <ol>
          <ul style= "list-style-type: square;">
            <li>Backboard</li>
            <li>Rule Based</li>
        </ol>

        <li>Interprete</li>

        <li>Invocacion Implicita</li>
        </ol>
        <ul style= "list-style-type: square;">
          <li>Evend-based</li>
          <li>Publisher-suscriber</li>
        </ol>
      <p class="estilos-cd">
      </p>

    <h3><strong>Patrones de arquitecturas de software</strong></h3>
      <p>
        Un Patrón de Arquitectura de Software es un conjunto de decisiones de diseño que se pueden aplicar a un problema de diseño recurrente y que pueden parametrizarse para diferentes contextos donde ese problema de diseño aparece.
        <li>Estructuras</li>
        <ol>
          <ul style= "list-style-type: square;">
          <li>Capas.</li>
          <li>Pipes and filters</li>
          <li>Blackboard</li>
        </ol>

        <li>Sistemas iterativos</li>
        <ol>
          <ul style= "list-style-type: square;">
          <li>Model-view Controller</li>
          <li>Presentation-abstraction-communication</li>
        </ol>
        <li>Sistemas distribuidos</li>
        <ol>
          <ul style= "list-style-type: square;">
          <li>Broker</li>
          <li>Trader</li>
        </ol>

        <li>Sistemas adaptables</li>
        <ol>
          <ul style= "list-style-type: square;">
          <li>Reflection</li>
          <li>Microkernel</li>
        </ol> 
      </p>

      <h4><strong>Diferencia entre "estilo" y "patron" de software</strong></h4>
        <p>
          Entonces, ¿Cuál es la diferencia entre un estilo y un patrón de Arquitectura de software?. Un patrón es una solución prediseñada para un problema que puede aplicarse en cualquier contexto donde se presente el  problema. Un estilo es un modelo conceptual que define un vocabulario común.  algunas decisiones de diseño arquitectural pueden actuar al mismo tiempo como estilos y patrones.

¿Cuál es la diferencia entre un Patrón de Diseño y un Patrón Arquitectural? Un patrón arquitectural expresa un esquema de organización estructural fundamental de un sistema mientras que un patrón de diseño provee un esquema para refinar los subsistemas o componentes de un sistema y las relaciones entre ellos.

        </p>
    <div class="col-lg-6 container-prueba"></div>
  </div>
  <div class="row">
    <div class="col-lg-6 container-prueba"></div>
    <div class="col-lg-6 container-prueba"></div>
  </div>
</div>
